@import "../common/variables";

@import "../header/header";
@import "../footer/footer";


#search-container {
    background-color: $light-colour;

    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: 300px 450px auto;
    grid-template-areas:
        "title search-results ."
        "search-board search-results ."
        ". search-results .";
}

#search-container-title-area {
    grid-area: title;
    place-self: center;
}

#search-container-search-board-area {
    grid-area: search-board;
    place-self: center;

    #search-board {
        width: $side-board-size;
        margin: 0 auto;
    }
}

#search-container-search-results-area {
    grid-area: search-results;
    place-self: left;

    margin: 50px;

    .search-result {
        display: grid;
        grid-template-columns: 300px 1fr auto;
        grid-template-areas: "board stats .";
    
        padding: 15px 30px;
        font-size: 20px;
        color: $dark-colour;
        text-decoration: none;
        border-radius: $border-radius;
    }
    
    .search-result:hover {
        box-shadow: $border-shadow;
    }
    
    .result-board {
        grid-area: board;
        place-self: left;

        width: $result-board-size;
    }
    
    .result-stats {
        grid-area: stats;
        place-self: left;
    
        p {
            padding: 5px 0;
        }
    }
}
