doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		style
			include ../public/stylesheets/css/style.css
		title #{title}
		block scripts
	body
		header
			a.sitename(href="/") CheSSE
				span.domain(href="/") .io
		block content
		footer
			.credits &copy; Mihai Ionut Deaconu 
				script.
					document.write(/\d{4}/.exec(Date())[0])
