doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1')
		style
			include ../public/stylesheets/css/style.css
		title #{title}
		block scripts
	body
		block content
