@import "../common/variables";
@import "../header/header";
@import "../header/title";
@import "../footer/footer";

@import "title";
@import "search_board";
@import "search_results";

.search-results-container {
    background-color: $light-colour;

    display: grid;
    grid-template-columns: 1fr 1.5fr 0.5fr;
    grid-template-rows: 300px 300px auto;
    grid-template-areas:
        "title search-results ."
        "search-board search-results ."
        ". search-results .";
}
