/* Colour scheme */
$dark-colour: #444;
$light-colour: #fff;

$dark-squares-colour: #b58863;
$light-squares-colour: #f0d9b5;

/* Shadow */
$border-shadow: 2px 8px 15px rgba($dark-colour, 0.3);

/* Chess board sizes */
$search-board-size: 580px;
$side-board-size: 350px;
$result-board-size: 300px;

/* Font */
$font-family: 'Raleway', sans-serif;
