.title {
    text-align: center;
    color: $dark-colour;
    font-size: $title-font-size;
    font-weight: $font-weight-light;
    letter-spacing: $title-letter-spacing;
}

.subtitle {
    margin: 10px;
    text-align: center;
    font-size: $subtitle-font-size;
    font-weight: $font-weight-regular;
}
