@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
header {
  background-color: #444;
  height: 60px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.sitename {
  color: #b58863;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.domain {
  color: #f0d9b5;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1px;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
footer {
  background-color: #444;
  height: 60px;
  align-items: center;
}

.credits {
  color: #f0d9b5;
  font-size: 20px;
  text-align: center;
  margin-top: 18px;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
.title-item {
  grid-area: title;
  place-self: center;
  padding: 40px 20px;
}

#title {
  color: #444;
  font-size: 80px;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

#subtitle {
  font-size: 22px;
  font-weight: 300;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
.search-board-item {
  grid-area: search-board;
  place-self: center;
}

#search-board {
  width: 580px;
  padding-top: 40px;
  margin: 0 auto;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
.search-button-item {
  grid-area: search-button;
  place-self: center;
}

#search-button {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  height: 65px;
  width: 250px;
  padding: 12px;
  border-radius: 20px;
  border-width: 1px;
  border-color: #b58863;
}

#search-button:hover {
  box-shadow: 2px 8px 15px rgba(68, 68, 68, 0.3);
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
.side-buttons-item {
  grid-area: side-buttons;
  justify-self: left;
}

.side-button.fa::before {
  font-family: "FontAwesome";
}

.side-button.fa {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  letter-spacing: 1px;
  transition: 0.3s;
  width: 85%;
  margin: 7px;
  padding: 13px;
  border-radius: 20px;
  border-width: 1px;
  border-color: #b58863;
}

.side-button:hover {
  box-shadow: 2px 8px 15px rgba(68, 68, 68, 0.3);
}

.search-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 300px 600px 100px auto;
  grid-template-areas: "title search-board . ." ". search-board side-buttons ." ". search-button . ." ". . . .";
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  #start-button {
    text-align: center;
  }

  #clear-button {
    text-align: center;
  }

  #flip-button {
    text-align: center;
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .search-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto, 1fr, auto, auto;
    grid-template-areas: "title" "util-buttons" "search-board" "search-button";
  }

  #title {
    text-align: center;
  }

  #subtitle {
    text-align: center;
  }

  .util-buttons {
    padding: 20px 0;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  .search-container {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto, 1fr, auto;
    grid-template-areas: "title search-board" "util-buttons search-board" "util-buttons search-button";
    gap: 10px;
  }

  .util-buttons {
    padding: 0;
  }

  #search-board {
    width: 95%;
    margin: 0 auto;
    padding: 40px 0;
    grid-area: search-board;
    place-self: center;
  }
}
/* ----------- Non-Retina Screens ----------- */
/* ----------- Retina Screens ----------- */
/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
header {
  background-color: #444;
  height: 60px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.sitename {
  color: #b58863;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.domain {
  color: #f0d9b5;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1px;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
footer {
  background-color: #444;
  height: 60px;
  align-items: center;
}

.credits {
  color: #f0d9b5;
  font-size: 20px;
  text-align: center;
  margin-top: 18px;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
.title-item {
  grid-area: title;
  place-self: center;
  padding: 40px 20px;
}

#title {
  color: #444;
  font-size: 80px;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

#subtitle {
  font-size: 22px;
  font-weight: 300;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
.query-board-item {
  grid-area: query-board;
  place-self: center;
}

#query-board {
  width: 350px;
  padding-top: 40px;
  margin: 0 auto;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
.search-results-item {
  grid-area: search-results;
  place-self: left;
  margin: 50px;
}

.search-result {
  display: grid;
  grid-template-columns: 350px 1fr auto;
  grid-template-areas: "board stats .";
  margin: 30px;
  font-size: 20px;
}

.result-board {
  grid-area: board;
  place-self: left;
  width: 300px;
}

.result-stats {
  grid-area: stats;
  place-self: left;
}

.result-stats p {
  padding: 5px 0;
}

.search-results-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 300px 300px auto;
  grid-template-areas: "title search-results ." "search-board search-results ." ". search-results .";
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
header {
  background-color: #444;
  height: 60px;
  display: flex;
  padding: 5px;
  align-items: center;
}

.sitename {
  color: #b58863;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 20px;
  text-decoration: none;
  letter-spacing: 1px;
}

.domain {
  color: #f0d9b5;
  font-size: 18px;
  font-weight: 550;
  letter-spacing: 1px;
}

/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
footer {
  background-color: #444;
  height: 60px;
  align-items: center;
}

.credits {
  color: #f0d9b5;
  font-size: 20px;
  text-align: center;
  margin-top: 18px;
}

.title-item {
  grid-area: title;
  place-self: center;
  padding: 40px 20px;
}

#title {
  font-size: 80px;
  letter-spacing: 3px;
  padding-bottom: 5px;
}

#subtitle {
  font-size: 22px;
  font-weight: 300;
}

.position-board-item {
  grid-area: position-board;
  place-self: center;
}

#position-board {
  width: 350px;
  padding-top: 40px;
  margin: 0 auto;
}

.games-item {
  grid-area: games;
  place-self: left;
  margin: 50px;
}

#games {
  width: 100%;
}

.game-item {
  padding: 10px;
  margin: 20px;
  font-family: "Raleway", sans-serif;
}

.game-item:hover {
  box-shadow: 2px 8px 15px rgba(68, 68, 68, 0.3);
}

.games-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 300px 300px auto;
  grid-template-areas: "title games ." "position-board games ." ". games .";
}

html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

button {
  cursor: pointer;
  color: #b58863;
  background: white;
}

/*# sourceMappingURL=style.css.map */
