@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

@import "index/index";
@import "index/screens/iphone";
@import "index/screens/laptop";

@import "search/index";
@import "games/index";
@import "game/index";

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-colour;

    min-height: 100vh;
    font-family: $font-family;
    letter-spacing: $letter-spacing;
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}

button {
    cursor: pointer;
    color: $dark-squares-colour;
    background-color: $light-colour;
    letter-spacing: 2px;

    border-radius: $border-radius;
    border-width: 1px;
    border-color: $dark-squares-colour;
    transition: 0.3s;
}

button:hover {
    box-shadow: $border-shadow;
}

/* Title */

#title {
    text-align: center;
    color: $dark-colour;
    font-size: $title-font-size;
    font-weight: $font-weight-light;
    letter-spacing: $title-letter-spacing;
}

#subtitle {
    margin: 10px;
    text-align: center;
    font-size: $subtitle-font-size;
    font-weight: $font-weight-regular;
}
