@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap");
/* Colour scheme */
/* Shadow */
/* Chess board sizes */
/* Font */
/* Title */
/* Header */
/* Footer */
/* Elements */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  /* Grid layout for header and footer. */
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.button {
  color: #b58863;
  background-color: #fff;
  letter-spacing: 2px;
  border-color: #b58863;
  border-radius: 10px;
  border-width: 1px;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 2px 8px 15px rgba(68, 68, 68, 0.5);
}

.button--fa {
  font-family: "Raleway", sans-serif;
}
.button--fa::before {
  font-family: "FontAwesome";
}

#search-board {
  width: 650px;
}

#side-board {
  width: 400px;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #444;
  font-size: 100px;
  font-weight: 300;
  letter-spacing: 8px;
}

.subtitle {
  margin: 10px;
  text-align: center;
  font-size: 29px;
  font-weight: 400;
}

.footer {
  background-color: #444;
  height: 60px;
  align-items: center;
}

.footer__credits {
  color: #f0d9b5;
  font-size: 22px;
  text-align: center;
  margin-top: 18px;
}

.header {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  background-color: #444;
  height: 60px;
}

.header__logo {
  max-height: 100%;
  padding: 0 30px;
}

.header-menu {
  font-size: 22px;
  padding: 15px 30px;
}

.header-menu__item {
  color: #f0d9b5;
  font-weight: 300;
}
.header-menu__item:hover {
  color: #b58863;
}

#game-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr 0.4fr;
  grid-template-rows: 180px 120px 550px 100px auto;
  grid-template-areas: "title . . ." "title board panel ." ". board panel ." ". buttons . ." ". . . .";
}

#game-container-title-area {
  grid-area: title;
  place-self: center;
}

#game-container-buttons-area {
  grid-area: buttons;
  align-self: center;
  width: 100%;
  text-align: center;
}
#game-container-buttons-area .inline {
  display: inline-block;
}
#game-container-buttons-area .button.fa::before {
  font-family: "FontAwesome";
}
#game-container-buttons-area .button.fa {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 400;
  margin: 7px;
  padding: 5px 15px;
  justify-content: center;
  width: 65px;
  height: 65px;
}

#game-container-board-area {
  grid-area: board;
  justify-self: center;
}
#game-container-board-area #game-board {
  width: 650px;
}

#game-container-panel-area {
  grid-area: panel;
  place-self: left;
}
#game-container-panel-area #game-context {
  background-color: #f0d9b5;
  padding: 10px;
  margin: 0 10px;
  border-color: #444;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  height: 165px;
}
#game-container-panel-area #game-context p {
  font-size: 17px;
  margin: 5px;
}
#game-container-panel-area #game-context p.players {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}
#game-container-panel-area #game-moves {
  padding: 10px;
  margin: 10px 10px;
  border-color: #444;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  overflow: auto;
  height: 477px;
}
#game-container-panel-area #game-moves div {
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}

#games-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 180px 120px 450px auto;
  grid-template-areas: "title . ." "title games ." "position-board games ." "position-stats games .";
}

#games-container-title-area {
  grid-area: title;
  place-self: center;
}

#games-container-board-area {
  grid-area: position-board;
  place-self: center;
}
#games-container-board-area #position-board {
  width: 400px;
  margin: 0 auto;
}

#games-container-position-stats-area {
  grid-area: position-stats;
  align-self: left;
}
#games-container-position-stats-area p {
  font-size: 20px;
  margin: 5px 175px;
}

#games-container-games-list-area {
  grid-area: games;
  place-self: left;
}
#games-container-games-list-area #games-table {
  width: 100%;
  height: 450px;
  overflow: auto;
}
#games-container-games-list-area #games-table table {
  table-layout: fixed;
}
#games-container-games-list-area #games-table thead tr th {
  position: sticky;
  top: 0;
  z-index: 99;
}
#games-container-games-list-area #games-table tbody tr {
  cursor: pointer;
}
#games-container-games-list-area #games-table th, #games-container-games-list-area #games-table td {
  text-align: left;
  padding: 10px;
}
#games-container-games-list-area #games-table th {
  font-size: 18px;
  background-color: #f0d9b5;
}
#games-container-games-list-area #games-table .game-item {
  padding: 10px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
#games-container-games-list-area #games-table .game-item:hover {
  box-shadow: 2px 8px 15px rgba(68, 68, 68, 0.5);
}

.homepage-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 95px 78px 127px 650px 100px auto;
  grid-template-areas: "title . . ." "title search-board . ." "title search-board side-buttons ." ". search-board side-buttons ." ". search-button . ." ". . . .";
}

.homepage-grid__title {
  grid-area: title;
  place-self: center;
}

.homepage-grid__search-board {
  grid-area: search-board;
  justify-self: center;
  margin: 0 auto;
}

.homepage-grid__search-button {
  grid-area: search-button;
  place-self: center;
}

.homepage-grid__side-button {
  grid-area: side-buttons;
  justify-self: left;
  margin: 0 auto;
}

.button--search {
  font-size: 25px;
  font-weight: 300;
  height: 65px;
  width: 200px;
  padding: 12px;
}

.button--side {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  width: 300px;
  margin: 5px;
  padding: 10px;
}

.positions-page-grid {
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 1.5fr 0.5fr;
  grid-template-rows: 300px 450px auto;
  grid-template-areas: "title search-results ." "search-board search-results ." ". search-results .";
}

.positions-page-grid__title {
  grid-area: title;
  place-self: center;
}

.positions-page-grid__side-board {
  grid-area: search-board;
  place-self: center;
}

.positions-page-grid__search-results {
  grid-area: search-results;
  place-self: left;
  margin: 50px;
}

.search-result {
  display: grid;
  grid-template-columns: 300px 1fr auto;
  grid-template-areas: "board stats .";
  padding: 15px 30px;
  font-size: 20px;
  color: #444;
  text-decoration: none;
  border-radius: 10px;
}
.search-result:hover {
  box-shadow: 2px 8px 15px rgba(68, 68, 68, 0.5);
}

.result-board {
  grid-area: board;
  place-self: left;
  width: 275px;
}

.result-stats {
  grid-area: stats;
  place-self: left;
}
.result-stats p {
  padding: 5px 0;
}

/*# sourceMappingURL=style.css.map */
