.element {
    color: $light-squares-colour;
    font-size: 22px;
    font-weight: $font-weight-light;
    padding: $header-elements-padding;
    text-decoration: none;
}

.element:hover {
    color: $dark-squares-colour;
}
