@import "../common/variables";

@import "title";
@import "element";


header {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    background-color: $dark-colour;
    height: $header-height;
}
