#sitename {
    color: $dark-squares-colour;
    font-size: 27px;
    font-weight: $font-weight-medium;
    padding: $header-elements-padding;
    text-decoration: none;
}

// #domain {
//     color: $light-squares-colour;
//     font-size: 18px;
//     font-weight: 550;
// }
