.sitename {
    color: #b58863;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 20px;
    text-decoration: none;
    letter-spacing: 1px;
}
  
.domain {
    color: #f0d9b5;
    font-size: 18px;
    font-weight: 550;
    letter-spacing: 1px;
}
