@import "../common/variables";
@import "../header/header";
@import "../header/title";
@import "../footer/footer";

@import "title";
@import "search_board";
@import "search_button";
@import "side_buttons";

.search-container {
    background-color: $light-colour;

    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
    grid-template-rows: 300px 600px 100px auto;
    grid-template-areas:
        "title search-board . ."
        ". search-board side-buttons ."
        ". search-button . ."
        ". . . .";
}
