@import "../header/header";
@import "../header/title";

@import "../footer/footer";

@import "title";
@import "game";


.game-container {
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px auto;
    grid-template-areas:
        "title . ."
        ". board panel"
        ". . .";
}
