@import "../common/variables";


footer {
    background-color: $dark-colour;
    height: 60px;
    align-items: center;
}

.credits {
    color: $light-squares-colour;
    font-size: 20px;
    text-align: center;
    margin-top: 18px;
}
