.games-item {
    grid-area: games;
    place-self: left;

    margin: 50px;
}

#games {
    width: 100%;
}

.game-item {
    padding: 10px;

    font-family: $font-family;
}

.game-item:hover {
    box-shadow: $border-shadow;
}
